img{
    width: 7rem;
    height: 7rem;
}

.coordinador{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 35rem;
    background-color: rgb(222, 224, 224);
    padding: 1.5rem;
    border-radius: 1rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.datos{
    margin-left: 2rem;
    align-items: center;
}