<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1>Contacto</h1>
    <h2>Coordinador de Carrera</h2>
    <div class="coordinador">
        <img src="../../../../assets/coordinacion.png" alt="LogoCordinador" srcset="">
        <div class="datos">
            <p> <b>Nombre:</b>  <span>Cristian Bauza</span></p>
            <p> <b>Celular:</b>   099000000 </p> 
            <p> <b>Correo: </b>
                <a>cristianbauza@utec.edu.uy</a>
            </p>
        </div>
    </div>

    <h2>Sede Central</h2>
    <div class="coordinador">
        <img src="../../../../assets/sede-central.png" alt="LogoCordinador" srcset="">
        <div class="datos">
            
            <p> <b>Celular:</b>   2603 8832 </p> 
            <p> <b>Correo: </b>
                <a>consultas@utec.edu.uy</a>
            </p>
        </div>
    </div>
</div>