.noticia {
    max-width: 90%;
    min-width: 90%;
    width: 300px;
    border-color: #b3aeae;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 8px;
    /*box-shadow: 2px 2px 2px 2px rgba(15, 5, 5, 0.2);*/
  }
  @media screen and (max-width: 400px) {
    .noticia {
      max-width: 90%;
      min-width: 90%;
      width: 100%;
    }
  }
  .noticia-img {
    width: 100%;
    max-width: 260 px;
    max-height: 160 px;
    height: auto;
    padding-top: 10px;
  }
  .div_img {
    display: flex;
    align-items: center;
  }

    
  .spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.nueva{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}