
<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
  <h1>NOTICIAS</h1>

<hr>


<mat-card class="example-card"  *ngFor="let noticia of noticias">
  
    <div fxLayoutAlign="space-around center">
        <img mat-card-lg-image src="{{noticia.imagen}}" onerror='this.src="../../../assets/Noticia.png"' alt="Photo of a Shiba Inu">
    </div>
    <hr>
        <mat-card-title>{{noticia.titulo}}</mat-card-title>
      <mat-card-content>
        <p>
          {{noticia.descripcion}}
        </p>
      </mat-card-content>
    </mat-card>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page"
               (click)="paginador(pageEvent.pageIndex,pageEvent.pageSize)">
</mat-paginator>

<div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>


</div>
 