.example-card {
    max-width: 400px;
    width: 300px;
    margin-bottom: 8px;
  }
  @media screen and (max-width: 400px) {
    .example-card {
      max-width: 280px;
      width: 100%;
    }
  }
    
  