
<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
  <h1>NOTICIAS</h1>

<hr>


<mat-card class="example-card">
  
    <div fxLayoutAlign="space-around center">
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <hr>
        <mat-card-title>HOLAAAAAA</mat-card-title>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
</div>
 

<!----  
<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxFlex="60"  fxLayoutAlign="center">  
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>

          Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó

        </mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >

      </mat-card-title-group>
      
    </mat-card>
  </div>
</div>

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div  fxLayout="row" fxFlex="90" >   
          <mat-card class="Noticia">
            <div fxLayoutAlign="space-around center">
              <mat-card-title> 
               
              </mat-card-title>
              <mat-card-subtitle>
                <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
              </mat-card-subtitle>
            </div> 
              <mat-card-content>
                  <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
              </mat-card-content>
          </mat-card>

        </div>

    
  </div>
-->


    




 
