<div class="" *ngIf="cargando == true">
  <ns-cargando></ns-cargando>
</div>
<div class="card">
  <mat-card class="example-card" class="card">
    <mat-card-actions *ngIf="localStorage.getItem('token') != null">
      <button color="primary" mat-raised-button routerLink="/abm-noticias/{{this.noticia.id}}">EDITAR</button>
      <button color="warn" (click)="deleteNoticia()" mat-raised-button>BORRAR</button>
      <button  mat-raised-button routerLink="/noticias">ATRAS</button>
    </mat-card-actions>
    <mat-card-header class="">
        <mat-card-title>{{noticia.titulo}}</mat-card-title>
        <mat-card-subtitle>{{noticia.fechaCaducidad}}</mat-card-subtitle>
    </mat-card-header>
        <img class="mat-card-image" mat-card-image src="{{noticia.imagen}}" onerror='this.src="../../../assets/Noticia.png"' alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          {{noticia.descripcion}}
        </p>
      </mat-card-content>

    </mat-card>

</div>