<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1>CREAR DOCUMENTO</h1>
</div>
<br> 
<div fxLayout= "column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center" >
<!--Para crear-->
    <div fxLayout="column" fxFlex="60"  fxLayoutAlign="center">

        <hr>
        <br>
   
            <hr>
            <input type="file" (change)="subirPDF($event)">
        
            <br>
        <form action="" fxLayout="column" fxFlex="60"  fxLayoutAlign="center" [formGroup]="newDocumentoForm" >
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>TITULO:</mat-label>
                <input formControlName="newTitulo" matInput placeholder="Ej. Teorico RIA">
            </mat-form-field>
    
            <!-- input para subir una documento( change)="onFileChanged($event)"-->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CATEGORIA:</mat-label>
                <mat-select formControlName="newTipo">
                    <mat-option selected value="INFORMACION_CARRERA">INFORMACION_CARRERA</mat-option>
                    <mat-option value="OPORTUNIDADES_LABORALES">OPORTUNIDADES_LABORALES</mat-option>
                    <mat-option value="DATOS_DE_INTERES">DATOS_DE_INTERES</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>ESTADO:</mat-label>
                <mat-select formControlName="newEstado" >
                    <mat-option  value="true">Activo</mat-option>
                    <mat-option value="false">Inactivo</mat-option>
               </mat-select>
            </mat-form-field>
            
            <button mat-raised-button color="primary" (click)="newDocumento()">Crear</button>
            <button mat-raised-button routerLink="/ver-documentos">Atras</button>

        </form>
    </div>
</div>
