<div  fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1>UNIDADES CURRICULARES</h1>
        <button  mat-raised-button color='primary' routerLink="/abm-u-c" >Nueva Unidad</button>
</div>
<div class="" *ngIf="cargando == true">
    <ns-cargando></ns-cargando>
</div>
<br> 
<div class="estilo" *ngIf="cargando == false" fxLayout= "row"  fxLayoutAlign="space-around center" >
    
    <div fxLayout="column" fxFlex="80" gt-xs.fxFlex ="99"  fxLayoutAlign="center" >
        <cdk-accordion class="example-accordion">
            <cdk-accordion-item
            *ngFor="let item of items; let index = index;"
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle();">
                {{ item }}
                <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                </span>
            </div>
            <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index+1">
                     
                <mat-selection-list #shoes [multiple]="false">
                    <div *ngFor="let u of unidadesCurriculares">
                    <mat-list-option *ngIf="'SEMESTRE '+u.semestre == item" routerLink="/unidad/{{u.id}}">
                     {{u.nombre}}
                    </mat-list-option>
                </div>
                  </mat-selection-list>

            </div>
            </cdk-accordion-item>
        </cdk-accordion>
    </div>
    
</div>
