<button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-sm fxShow aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" fxHide.gt-sm fxShow>
    <button mat-menu-item fxHide.gt-sm fxShow routerLink="/abm-documento" fxLayoutAlign="center center" fxShow >
      <mat-icon>assignment</mat-icon>
      <span> Documentos de interes</span>
    </button>
    <button mat-menu-item fxHide.gt-sm fxShow  routerLink="/abm-materias" fxLayoutAlign="center center" fxShow>
      <mat-icon>file_copy</mat-icon>
      <span> Materias</span>
    </button>
    <button mat-menu-item fxHide.gt-sm fxShow routerLink="/unidades-curriculares" fxLayoutAlign="center center" fxShow>
      <mat-icon>category</mat-icon>
      <span> Unidades Curriculares</span>
    </button>
    <button mat-menu-item fxHide.gt-sm fxShow  routerLink="/noticias" fxLayoutAlign="center center" fxShow>
      <mat-icon>description</mat-icon>
      <span> Noticias</span>
    </button>
    <button mat-menu-item fxHide.gt-sm fxShow  routerLink="/ver-documentos"fxLayoutAlign="center center" fxShow>
      <mat-icon>assignment</mat-icon>
      <span> Documentos</span>
    </button>
    <button mat-menu-item fxHide.gt-sm fxShow routerLink="/contacto" fxLayoutAlign="center center" fxShow>
      <mat-icon>contacts</mat-icon>
      <span> Contacto</span>
    </button>
  </mat-menu>