<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1>DOCUMENTOS DE INTERES</h1>
</div>
<div fxLayout="column" fxLayoutAlign="space-around center" [hidden]="eleccion != 'vista'" >
  <div *ngIf="localStorage.getItem('token') != null">
    <button  mat-raised-button color='primary' routerLink="/abm-documento" >Nuevo documento</button>
  </div>
        <mat-tab-group class="centrado" (selectedIndexChange) ="setTipo (''+$event)">
            <mat-tab (click)="setTipo('INFORMACION_CARRERA')" label="Informacion Carrera" >
          <br>
              <div *ngIf="cargando == true" class="spinner" >
                <ns-cargando></ns-cargando>
               </div>
               <div *ngFor="let doc of documentosInformacion">
                <mat-card *ngIf="cargando == false"  class="example-card" >
                    <mat-card-title-group>
                      <mat-card-title>{{doc.titulo}}</mat-card-title>
                      <mat-card-subtitle>
                        <button class="me-1"  mat-raised-button (click)="verPDF(doc.documentoPDF)" >VER </button>
                         <button  mat-raised-button color='primary' (click)="onClickDownloadPdf(doc.documentoPDF,doc.titulo)">DESCARGAR</button> 
                      </mat-card-subtitle>
                      <img mat-card-sm-image src="../../../../assets/documentoPDF.png" >
                    </mat-card-title-group>
                  </mat-card>
                  <br>
                </div>
            </mat-tab>
            
            <mat-tab (click)="setTipo('OPORTUNIDADES_LABORALES')" label="Oportunidades Laborales">
              <br>
              <div *ngIf="cargando == true" class="spinner" >
                <ns-cargando></ns-cargando>
               </div>
              <div *ngFor="let doc of documentosOportunidades">
                <mat-card *ngIf="cargando == false"  class="example-card">
                    <mat-card-title-group>
                      <mat-card-title>{{doc.titulo}}</mat-card-title>
                      <mat-card-subtitle>
                        <button class="me-1"  mat-raised-button (click)="verPDF(doc.documentoPDF)" >VER </button> 
                         <button  mat-raised-button color='primary' (click)="onClickDownloadPdf(doc.documentoPDF,doc.titulo)">DESCARGAR</button> 
                      </mat-card-subtitle>
                      <img mat-card-sm-image src="../../../../assets/documentoPDF.png" >
                    </mat-card-title-group>
                  </mat-card>
                  <br>
                </div>
            </mat-tab>
            <mat-tab (event)="setTipo('DATOS_DE_INTERES')" label="Datos de interes">
              <br>
              <div *ngIf="cargando == true" class="spinner" >
                <ns-cargando></ns-cargando>
               </div>
              <div *ngFor="let doc of documentosInteres">
                <mat-card *ngIf="cargando == false"   class="example-card">
                    <mat-card-title-group>
                      <mat-card-title>{{doc.titulo}}</mat-card-title>
                      <mat-card-subtitle>
                        <button class="me-1"  mat-raised-button (click)="verPDF(doc.documentoPDF)" >VER </button>
                         <button  mat-raised-button color='primary' (click)="onClickDownloadPdf(doc.documentoPDF,doc.titulo)">DESCARGAR</button> 
                      </mat-card-subtitle>
                      <img mat-card-sm-image src="../../../../assets/documentoPDF.png" >
                    </mat-card-title-group>
                  </mat-card>
                  <br>
                </div>
            </mat-tab>
          </mat-tab-group>

</div>
<div class="prueba">
  <button class="mb-4" mat-raised-button color="primary" [hidden]="eleccion != 'PDF'" (click)="setEleccion('vista')">Atras</button>
</div>
<div class="prueba">
  <div [hidden] ="eleccion != 'PDF'"   class="docPDF">
    <br>
      <iframe class="mostradorPDF" type="application/pdf" width="100%" height="100%" [src]="PDF(this.pdf)" >DOCUMENTO PDF</iframe>
  
  </div>