<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1 *ngIf="selected.id == -1">CREAR NOTICIA</h1>
    <h1 *ngIf="selected.id != -1">MODIFICAR NOTICIA</h1>
</div>
<br> 
<div class="" *ngIf="cargando == true">
    <ns-cargando></ns-cargando>
</div>

    <!--Para Nuevo-->
    <div *ngIf="cargando == false" class="example-container" fxLayoutAlign="center" class="crearNoticia">
    <form [formGroup]="newNoticiaForm" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">  
            <hr>
            <input type="file" (change)="subirFoto($event)">
        
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>TITULO:</mat-label>
                <input matInput placeholder="Titulo" formControlName="newTitulo">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>DESCRIPCION:</mat-label>
                <textarea matInput size="10" placeholder="Descripcion" formControlName="newDescripcion"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>FECHA CADUCIDAD:</mat-label>
                <input type="date" matInput formControlName="newFechaCaducidad">
            </mat-form-field>
            
            <button *ngIf="selected.id == -1" mat-raised-button (click)="nuevaNoticia()" color="primary">+ CREAR</button>
            <button *ngIf="selected.id == -1" routerLink="/noticias" mat-raised-button  >ATRAS</button>
            <button *ngIf="selected.id != -1" mat-raised-button (click)="setNoticia()" color="primary">EDITAR</button>
            <button *ngIf="selected.id != -1" routerLink="/noticias/{{this.selected.id}}" mat-raised-button  >ATRAS</button>
      
    </form>

</div>