


    <footer>
        <div class="footer-content">
            <h3>Tecnologo Informatico</h3>
            <p class="p">En esta pagina podras encontrar todo lo relacionado con la carrera Tecnologo En informatica , tanto como Documentos, noticias, materias, etc... <p>
            <ul class="socials">
               <li><a href="https://www.instagram.com/utecuy/?hl=es"><img class="iconos" src="../../../../assets/insta.png" alt=""></a></li>
                <li><a href="https://twitter.com/UTECuy"><img class="iconos" src="../../../../assets/gorjeo.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/channel/UC6p0TCY8JtOVzuH_TjSy4VQ"><img class="iconos" src="../../../../assets/youtube.png" alt=""></a></li>
                 
            </ul>
        </div>
    </footer>


