<mat-toolbar class="navbar" color="primary" fxLayoutAlign="space-around center" fxLayout="column">
    <div class="">
        <span>Tecnologo Informatico</span>
    </div>
    <mat-toolbar color="primary" fxLayoutAlign="space-around center">
        <a href="https://www.facebook.com/">
            <img src="../../../../assets/fb.png" alt="facebook" width="50" height="50">
        </a>
        <a href="https://www.twitter.com/">
            <img src="../../../../assets/tw.png" alt="twitter" width="40" height="40">
        </a>
        <a href="https://www.instagram.com/">
            <img src="../../../../assets/insta.png" alt="instagram" width="50" height="40">
        </a>

    </mat-toolbar>

  </mat-toolbar>



