<mat-toolbar color="primary" fxLayoutAlign="space-around center" fxLayout="row">
    <span>Tecnologo Informatico</span>
    <div>
        
        <a href="https://www.facebook.com/">
            <img src="../../../../assets/fb.png" alt="facebook" width="30" height="30">
        </a>
        <a href="https://www.twitter.com/">
            <img src="../../../../assets/tw.png" alt="twitter" width="30" height="30">
        </a>
        <a href="https://www.instagram.com/">
            <img src="../../../../assets/insta.png" alt="instagram" width="30" height="30">
        </a>

    </div>
  </mat-toolbar>



