<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1 *ngIf="eleccion=='Nuevo'">NUEVA UNIDADES CURRICULARES</h1>
    <h1 *ngIf="eleccion=='Modificar'">NUEVA UNIDADES CURRICULARES</h1>
</div>
<br> 
<div class="" *ngIf="cargando == true">
    <ns-cargando></ns-cargando>
</div>
<div *ngIf="cargando == false" class="example-container" fxLayoutAlign="center" class="crearNoticia estilo">
    <form [formGroup]="newUnidadForm" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">  
            <hr>
            <br>
            <input type="file" (change)="subirDocumento($event)" />
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>NOMBRE:</mat-label>
                <input matInput placeholder="Titulo" formControlName="newNombre">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>DESCRIPCION:</mat-label>
                <textarea matInput size="10" placeholder="Descripcion" formControlName="newDescripcion"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CREDITOS</mat-label>
                <input matInput type="number" #creditos formControlName="newCreditos">
            </mat-form-field>
            
            <mat-form-field appearance="fill">
           
                <mat-label>SEMESTRE:</mat-label>
                <mat-select formControlName = "newSemestre">
                    <mat-option value="1">Semestre 1</mat-option>
                    <mat-option value="2">Semestre 2</mat-option>
                    <mat-option value="3">Semestre 3</mat-option>
                    <mat-option value="4">Semestre 4</mat-option>
                    <mat-option value="5">Semestre 5</mat-option>
                    <mat-option value="6">Semestre 6</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label *ngIf="eleccion=='Nuevo'" >SELECCIONE MATERIA</mat-label>
                <mat-label *ngIf="eleccion=='Modificar'">MATERIA</mat-label>
                <mat-select formControlName = "newMateria">
                <mat-option *ngFor="let m of materias" value="{{m.id}}">{{m.nombre}}</mat-option>
            </mat-select>
            </mat-form-field>

    
                 
            <button *ngIf="eleccion=='Nuevo'" mat-raised-button (click)="nuevaUnidad()" color="primary">+ CREAR</button>
            <button *ngIf="eleccion=='Nuevo'" routerLink="/unidades-curriculares" mat-raised-button  >ATRAS</button>
            <button *ngIf="eleccion=='Modificar'" mat-raised-button (click)="modificarUnidad()" color="primary">EDITAR</button>
            <button *ngIf="eleccion=='Modificar'" routerLink="/unidad/{{this.selected.id}}" mat-raised-button  >ATRAS</button>
         

    </form>

</div>


<!--
    <div *ngIf="this.eleccion =='Vista'" fxLayout="column" fxFlex="20" >
        <h3>SELECCIONE UNA UNIDAD CURRICULAR</h3>
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select>
            <mat-option>holaaaaa</mat-option>
            <mat-option  *ngFor="let x of unidadesCurriculares" (click)="setSelected(x)"  value={{x}}>{{x.id}}-{{x.nombre}}</mat-option>
            </mat-select>

        </mat-form-field>
        <p *ngIf ="this.selected.id !=-1 ">Seleccino: {{selected}}</p>
        <section>
            <hr>
            <br>
            <div class="example-button-row">
                <button (click)="setEleccion('Nuevo')" mat-raised-button>+Nueva Materia</button>
            </div>
        </section>
    </div>
Para Vista
    <div *ngIf ="this.eleccion =='Vista'" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">
        <hr>
        <br>
         <h3>Vista Preliminar:</h3>  
         <mat-card class="example-card">
             <mat-card-title> 
                 <h3><b>ID: </b>{{this.selected.id}}</h3>
             </mat-card-title>
             <h3><b>NOMBRE: </b>{{this.selected.nombre}}</h3>
             <hr>
             <mat-card-content>
                 <h4><b>DESCRIPCION:</b></h4>
                 <p>{{this.selected.descripcion}}</p>
                 <br>
                 <h4><b>CREDITOS:</b> {{this.selected.creditos}}</h4>
                 <h4><b>SEMESTRE:</b> {{this.selected.semestre}}</h4>
                <hr>
                    <h3><b>MATERIA:</b>{{this.selected.materia.id}} - {{this.selected.materia.nombre}}</h3>
                <hr>
                    <h3><b>PREVIAS:</b></h3>
                    <ul>
                        <li *ngFor="let x of this.selected.previas">{{x.id}}</li>
                    </ul>
            <hr>
                  <button (click)="setEleccion('Modificar')" mat-raised-button color="primary">*Editar Materia</button>
                 <button mat-raised-button color="warn">Borrar Materia</button>
             </mat-card-content>
         </mat-card>
    </div>
Para Modificar
<div *ngIf ="this.eleccion =='Modificar'" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">
        
    <h3>MODIFICAR:</h3>
    <hr>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>NOMBRE:</mat-label>
        <input matInput placeholder="Nombre" value="{{selected.nombre}}">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DESCRIPCION:</mat-label>
        <textarea matInput size="10" placeholder="Descripcion">{{selected.descripcion}}</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CREDITOS:</mat-label>
        <input type="number" placeholder="Nombre" value="{{selected.creditos}}">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CREDITOS:</mat-label>
        <input type="number" placeholder="Nombre" value="{{selected.creditos}}">
    </mat-form-field>
    <mat-label>SELECCIONE MATERA</mat-label>
        <mat-select>
        <mat-option>holaaaaa</mat-option>
        <ACA TENGO QUE PEDIR TODAS LAS MATERIAS
        <mat-option  *ngFor="let x of unidadesCurriculares" (click)="setSelected(x)"  value={{x}}>{{x.id}}-{{x.nombre}}</mat-option>
    </mat-select>

    <button mat-raised-button color="primary">*Editar</button>
    <button (click)="setEleccion('Vista')" mat-raised-button>Atras</button>
</div>
    

        
-->

         

