<div *ngIf='cargando == true'>
  <ns-cargando></ns-cargando>
</div>

<div *ngIf='cargando == false' id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://scontent.fmvd2-1.fna.fbcdn.net/v/t1.6435-9/122624438_4968240349860310_2004451216509218895_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=mqG7xibm470AX_7ZoX8&_nc_ht=scontent.fmvd2-1.fna&oh=00_AT_bj_Uo2z8R9dlYpJgPnUK7Zr4DVuC_CDuRAiOn8LxZGw&oe=62E3F070" class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block texto">
        <h3 class="text-light bg-secondary">A continuacion veras las noticias del Tecnologo en Informatica...</h3>
      </div>
    </div>

    <div class="carousel-item" *ngFor="let noticia of noticias">
      <img src="{{noticia.imagen}}" onerror='this.src="../../../assets/Noticia.png"' class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block texto">
       <h3 class="text-light bg-secondary">{{noticia.titulo}}</h3>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>