/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    position: relative;
    padding-bottom: 4rem;
   
}
body{
 background-image: url('https://img.freepik.com/vector-gratis/fondo-tecnologia-digital-alambre-malla-red_1017-27428.jpg?w=2000');   
}
h1,h2,h3,h4,h4,p{
    font-family: 'Roboto', sans-serif;
}