<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <h1>ABM Materias</h1>
    <br> 
    <div class="" *ngIf="cargando == true">
        <ns-cargando></ns-cargando>
    </div>
</div>

<div *ngIf="cargando == false" fxLayout= "column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center" >

    <div class="estilo" *ngIf="this.eleccion =='Vista'&& materias.length >0" fxLayout="column" fxFlex="20" >
        <h3><b>SELECCIONE UNA MATERIA</b></h3>
        <mat-form-field *ngIf="materias.length >0" appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select ngModel="this.materias">
            <mat-option  *ngFor="let x of materias" (click)="setSelected(x)"  value={{x}}>{{x.id}}-{{x.nombre}}</mat-option>
            </mat-select>

        </mat-form-field>

        <section>
            <hr>
            <br>
            <div class="nuevo">
                <button (click)="setEleccion('Nuevo')" mat-raised-button>+Nueva Materia</button>
                

            </div>
        </section>
    </div>
<!--Para Vista-->
 
    <div class="estilo" class="card" *ngIf ="this.eleccion =='Vista'&& this.selected.id!=-1" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">

        <mat-card class="example-card estilo">
            <mat-card-title> 
                <h3><b>ID: </b>{{this.selected.id}}</h3>
            </mat-card-title>
            <h3><b>NOMBRE: </b>{{this.selected.nombre}}</h3>
            <hr>
            <mat-card-content>
                <h4><b>DESCRIPCION:</b></h4>
                <p>{{this.selected.descripcion}}</p>
                <br>
                <h4><b>CREDITOS MINIMOS:</b> {{this.selected.creditosMinimos}}</h4>
           <hr>
                <div *ngIf="localStorage.getItem('token') != null">
                    <button (click)="setEleccion('Modificar')" mat-raised-button color="primary">*Editar Materia</button>
                    <button (click)="deleteMateria()" mat-raised-button color="warn" >Borrar Materia</button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div *ngIf ="this.selected.id==-1 && materias.length > 0 &&  eleccion =='Vista'" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">
        <h2><b>NO HAY MATERIAS SELECCIONADAS</b></h2>
    </div>
    <div *ngIf= "materias.length == 0 && eleccion =='Vista'">
        <h2><b>NO HAY MATERIAS CREE UNA</b></h2>
    </div>
<!--Para Modificar o Nuevo-->

    <form class="estilo" [formGroup]="newMateriaForm" *ngIf ="this.eleccion =='Modificar' || this.eleccion == 'Nuevo'" fxLayout="column" fxFlex="60"  fxLayoutAlign="center"> 

        <h3 *ngIf ="this.eleccion =='Modificar'">MODIFICAR:</h3>
        <h3 *ngIf ="this.eleccion =='Nuevo'">CREAR MATERIA:</h3>

        <hr>
        <br>
        <mat-form-field class="example-full-width mi_formulario" appearance="fill">
            <mat-label>NOMBRE:</mat-label>
            <input matInput formControlName="newNombre">
        </mat-form-field>


        <mat-form-field class="example-full-width mi_formulario" appearance="fill">
            <mat-label>DESCRIPCION:</mat-label>
            <textarea matInput size="10" placeholder="Descripcion" formControlName="newDescripcion"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width mi_formulario" appearance="fill">
            <mat-label>CREDITOS MINIMOS:</mat-label>
            <input type="number" matInput formControlName="newCreditosMinimos">
        </mat-form-field>
        
        <button *ngIf ="this.eleccion =='Modificar'" (click)="setMateria()" mat-raised-button color="primary">*Editar</button>
        <button *ngIf ="this.eleccion =='Modificar'" (click)="setEleccion('Vista')" mat-raised-button>Atras</button>
  
        <button *ngIf ="this.eleccion =='Nuevo'" (click)="newMateria()" mat-raised-button color="primary">+ Crear</button>
        <button *ngIf ="this.eleccion =='Nuevo'" (click)="setEleccion('Vista')" mat-raised-button>Atras</button>
    </form>
    <br>

</div>


