<div fxLayout="column" fxLayoutAlign="space-around center" class="example-container">
    <br>
    <h1><b>EDITOR DE MATERIAS</b></h1>
</div>
<br> 

<div fxLayout= "column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center" >
    <div class="" *ngIf="cargando == true">
        <ns-cargando></ns-cargando>
    </div>

    <div class="estilo" *ngIf="this.eleccion =='Vista' && this.cargando == false" fxLayout="column" fxFlex="20" >
        <h3 *ngIf="this.materias.length" >SELECCIONE UNA MATERIA</h3>
        <mat-form-field appearance="fill">
            <mat-label *ngIf="this.materias.length" >Select an option</mat-label>
            <mat-select>
                <mat-option  *ngFor="let x of materias" (click)="setSelected(x)"  value={{x}}>{{x.id}}-{{x.nombre}}</mat-option>
            </mat-select>

        </mat-form-field>

        <section>
            <hr>
            <br>
            <div class="example-button-row">
                <button (click)="setEleccion('Nuevo')" mat-raised-button>+Nueva Materia</button>

            </div>
        </section>
        
        

    </div>
<!--Para Vista-->
 
    <div *ngIf ="this.eleccion =='Vista'  && this.cargando == false" fxLayout="column"  fxFlex="90" fxFlex.gt-xs="60" fxLayoutAlign="center">
       
        <hr>
        <mat-card *ngIf = "this.selected.id > 0"  class="vistaMateria" class="vistaMateria">
            <mat-card-title> 
                <h3><b>ID: </b>{{this.selected.id}}</h3>
            </mat-card-title>
            <h3><b>NOMBRE: </b>{{this.selected.nombre}}</h3>
            <hr>
            <mat-card-content>
                <h4><b>DESCRIPCION:</b></h4>
                <p>{{this.selected.descripcion}}</p>
                <br>
                <h4><b>CREDITOS MINIMOS:</b> {{this.selected.creditosMinimos}}</h4>
           <hr>
                <button (click)="setEleccion('Modificar')" mat-raised-button color="primary">*Editar Materia</button>
                <button mat-raised-button color="warn" (click)="setEleccion('Borrar')">Borrar Materia</button>
            </mat-card-content>
        </mat-card>
   
        <div *ngIf = "this.selected.id < 0 && this.materias.length > 0" >
            <h2><b>NO HAY MATERIA SELECCIONADA</b></h2>
        </div>
        <div *ngIf = "this.materias.length == 0">
            <h2><b>NO HAY MATERIAS PARA SELECCIONAR SELECCIONADA</b></h2>
            <h3>Cree una materia</h3>
        </div>

    </div>
<!--Para Borrar-->
<div *ngIf ="this.eleccion =='Borrar'" fxLayout="column" fxFlex="50"  fxLayoutAlign="center">
    <h2>Borrar Materia</h2>
    <br>
    <h3>Seguro desea borrar: {{this.selected.nombre}} </h3>
    <hr>               
    
    <button mat-raised-button color="warn" (click)="deleteMateria ();" >Si, seguro</button>  
    <button (click)="setEleccion('Vista')" mat-raised-button>No, atras</button>
</div>
<!--Para Modificar/Nuevo-->
    <form class="estilo"  *ngIf ="this.eleccion =='Modificar'||this.eleccion == 'Nuevo' && this.cargando == false" fxLayout="column" fxFlex="60"  fxLayoutAlign="center" [formGroup]="newMateriaForm">
        <div class="estilo" fxLayout="column" fxFlex="60"  fxLayoutAlign="center">
            <h3 *ngIf ="this.eleccion=='Modificar'">MODIFICAR:</h3>
            <h3 *ngIf ="this.eleccion=='Nuevo'"> CREAR MATERIA:</h3>
            <hr>
            <br>
            <mat-form-field class="example-full-width mi_formulario"s appearance="fill">
                <mat-label>NOMBRE:</mat-label>
                <input matInput placeholder="Nombre" #nombre formControlName="newNombre">
            </mat-form-field>
            <mat-form-field class="example-full-width mi_formulario" appearance="fill">
                <mat-label>DESCRIPCION:</mat-label>
                <textarea matInput size="10"#descripcion placeholder="Descripcion" formControlName="newDescripcion"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width mi_formulario" appearance="fill">
                <mat-label>CREDITOS MINIMOS:</mat-label>
                <input type="number" matInput #cretidosMinimos formControlName="newCreditosMinimos">
            </mat-form-field>
            
            <button *ngIf="this.eleccion == 'Modificar'" mat-raised-button color="primary" (click)="setMateria()">*Editar</button>
            <button *ngIf="this.eleccion == 'Nuevo'" (click)="newMateria()"  mat-raised-button color="primary">+ Crear</button>
            <button (click)="setEleccion('Vista')" mat-raised-button>Atras</button>
      
        </div>
    </form>
</div>

